body {
    margin: 0px;
    background-color: black;
}
.container {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    text-align: center;
}

#clock {
    font-family: 'Quantum', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 200px;
}

#data {
    font-family: 'Quantum', sans-serif;
    text-align: center;
    font-size: 100px;
    color: white;
}

.digit {
    width: 18%;
    padding: 10px;
    color: white;
}

.colon {
    color: white;
    margin: 0px 20px;
}

#year{
    font-family: 'Quantum', sans-serif;
    position:absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30em;
    text-align: center;
    background-color: black;
    filter: blur(8px);
}